<span style="opacity:0">q</span>{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,300i,600,700&display=swap" rel="stylesheet">
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style-compare.css' %}" />

</head>
<body>
	<div class="container-fluid" id="top-menu">
    <div class="row justify-content-between">
      <div class="col-xs-3">
        <img src="/static/weather/img/hamburger.png" class="icon">
      </div>
      
      <div class="col-xs-6">
        <h1>
          COMPARE
        </h1>
      </div>
      
      <div class="col-xs-3">
        <img style="width:100px;" src="/static/weather/img/pencil.png">
      </div>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row compare-card">
      <div class="col-xs-2">
        <img class="compare-icon" src="/static/weather/img/sun-compare.png">
      </div>
      <div class="col-xs-10" style="padding-top:50px; padding-left:50px;">
        <h2>Berkeley, CA</h2>
        <h2>74&#176;F</h2>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row compare-card">
      <div class="col-xs-2">
        <img class="compare-icon" src="/static/weather/img/cloud-compare.png" style="padding-top:70px;">
      </div>
      <div class="col-xs-10" style="padding-top:50px; padding-left:50px;">
        <h2 style="font-size:50px; font-weight:bold;">San Francisco, CA</h2>
        <h2>62&#176;F</h2>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img id="wheel" src="/static/weather/img/wheel.png">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span class="curr-time">10AM</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="curr-date">JUL 1</span>
      </div>
    </div>
  </div>
   
</body>
</html>
